<?php

    // DB 설정을 저장하는 PHP 클래스 파일 입니다.
    // 이 파일을 복사한 후, 파일명 끝에 .example 을 지우고, 아래 설정값들을 입력해주세요
    // !! 절대 !! 설정값을 작성한 settings.php 파일이 git 등에 업로드되지 않도록 하세요(.gitignore 세팅).

    // 이 밑에 변수들을 각자 환경에 맞게 선언해주세요.

    // DB 접속정보
    $MYSQL_ADDRESS = "127.0.0.1";
    $MYSQL_DATABASE_NAME = "";
    $MYSQL_USER_NAME = "";
    $MYSQL_USER_PASSWORD = "";

    // 파일 저장 경로
    $DIR_STORAGE = "/storage";
    $DIR_IMAGES = $DIR_STORAGE."/img";
    $DIR_FILES = $DIR_STORAGE."/file";


?>